html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    font-family: "Inter", Sans-Serif;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;

}

#userNameInputPopup {
    z-index: 1000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    display: none;
}

.add-task-box {
    padding: 45px;
    margin: 30px 15px;
    background-color: white;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    position: fixed;
    top: 46%;
    right: -1200px; 
    transform: translate(50%, -50%);
    transition: right 0.5s ease; 
    z-index: 500;
}

#overlayAddTaskPopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 400;
}

.add-task-close {
    position: relative;
    left: 900px;
    height: 32px;
    width: 32px;
    object-fit: contain;
    background-image: url(../assets/img/close.jpg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    z-index: 100;
}

.addtask-popup-cont{
    display: flex;
    flex-direction: column;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.addtask-popup-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    scrollbar-color: gray;
    scrollbar-width: thin;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.addtask-popup-main-content::-webkit-scrollbar {
    display: none;
}


.addtask-popup-main-content h1 {
    width: 937px;
    font-size: 61px;
}

.add-task-close:hover {
    content: url('../assets/img/icon_close_hover.png');
}

.separator-popup {
    height: 424px;
    width: 1px;
    background-color: #D1D1D1;
    margin-left: 28px;
    margin-right: 28px;
}

.addtask-popup-buttons {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.addtask-popup-form-container {
    display: flex;
    justify-content: center;
    /* padding-right: 250px; */
    height: auto;
    margin-bottom: 56px;
}

.addtask-popup-form-left-top {
    display: flex;
    flex-direction: column;
    /* margin-right: 48px; */
    width: 440px;
    height: auto;
}

.field-popup-text-flex {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.input-popup-addtask {
    cursor: pointer;
    font-size: 20px;
    width: auto;
    border-radius: 10px;
    padding: 12px 21px;
    max-height: 48px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    border: 1px solid #D1D1D1;

}
.input-popup-addtask:focus {
    outline: 1px solid var(--darkLightBlue);
    border: 1px solid var(--darkLightBlue);
}

#arrowDropMenuAssignedPopup {
    height: 5px;
    width: 8px;
    cursor: pointer;
    position: absolute;
    top: 65px;
    right: 20px;
    z-index: 1000;
} 

#addTaskPopupAssignedTo {
    position: relative;
}

.addtask-popup-form-right-bottom {
    flex: 1;
    width: 440px;
}

.field-popup-text-flex {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

#addTaskPopupCategory img {
    z-index: 1002;
}

#addTaskPopupCategory {
    position: relative;
}

.addtask-popup-bottom-container {
    display: flex;
    justify-content: space-between;
}

@media(max-width: 1230px) {

    .addtask-popup-main-content h1 {
        width: 450px;
        padding-left: 90px;
    }
    .separator-popup {
        display: none;
    }

    .addtask-popup-bottom-container {
        flex-direction: column;
        gap: 32px;
        padding-top: 20px;
    }

    .addtask-popup-form-container {
        flex-direction: column;

    }

    .add-task-box {
        height: 90%;
        /* overflow: auto; */
        /* position: absolute;
        top: 75%; */
    }

    .add-task-close {
        position: absolute;
        left: 480px;
        top: 20px;
    }

}
@media(max-width: 830px) {

    .addtask-popup-main-content {
        padding-top: 0;
    }

    .addtask-popup-main-content h1 {
        font-size: 47px;

    }

    .addtask-popup-form-right-bottom {
        font-size: 16px;
    }

    .addtask-popup-form-left-top {
        font-size: 16px;
    }

    .add-task-box {
        /* display: none; */
        height: 100%;
        width: 100%;
        border-radius: 0;
        /* padding-top: 90px; */
        padding-bottom: 56px;
    }

    #spanFieldRequired {
        /* padding-left: 80px; */
    }
 
}
@media(max-width: 500px) {

    .addtask-popup-buttons {
        align-items: center;
        flex-direction: column;
    }

    .add-task-box {
        /* top: 86%; */
    }

    .addtask-popup-form-left-top {
        width: 280px;
        padding: 0 13px;
    }

    .addtask-popup-form-right-bottom {
        width: 280px;
        padding: 0 13px;
    }

    .addtask-popup-bottom-container {
        padding: 0 13px;
        padding-top: 20px;
        align-items: center;
    }

    .addtask-popup-form-container {
        padding-left: 50px;
    }

    .addtask-popup-main-content h1 {
        padding-left: 130px;
    }

    .add-task-close {
        left: 380px;
    }
}