body {
    margin: 0;
    font-family: "Inter", Sans-Serif;
}
.click-add-task {
    background-color: var(--darkBlue);
}
.click-add-task:hover {
    background-color: var(--darkBlue);
}
.click-add-task-mobile {
    background-color: var(--darkBlue);
    border-radius: 16px;
}

.addtask-fullscreen-content {
    position: fixed;
    padding-top: 102px;
    padding-left: 232px;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #F6F7F8;
    z-index: -1;
}

.addtask-main-content {
    position: fixed;
    padding-top: 80px;
    /* padding-left: 64px; */
    /* padding-right: 64px; */
    /* background-color: #F6F7F8; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex: 1; */
    overflow-y: auto;
    width: 82%;
    /* box-sizing: border-box;
    width: 82%; */
}
.addtask-main-content h1 {
    width: 937px;
    font-size: 61px;
}

.addtask-form-left-top {
    display: flex;
    flex-direction: column;
    /* margin-right: 48px; */
    width: 440px;
    height: auto;
}
.addtask-form-right-bottom {
    flex: 1;
    width: 440px;
}

.field-text-flex {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}
#addTaskDiscriptionField {
    width: auto;
}

input {
    cursor: pointer;
    font-size: 20px;
    width: auto;
    border-radius: 10px;
    padding: 12px 21px;
    max-height: 48px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    border: 1px solid #D1D1D1;
}

label {
    display: inline-block;
    font-weight: 400;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 8px 0px;
}

textarea {
    cursor: pointer;
    /* width: 440px; */
    /* margin-top: 8px; */
    height: 120px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    padding: 18px 16px;
    font-size: 20px;
    resize: none;
}
textarea::placeholder {
    font-family: "Inter";
}

.arrow-drop-menu {
    background-image: url(../assets/img/arrow_drop_down.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    background-position-x: calc(460px - 10px);

} 

#openUserImge {
    cursor: pointer;

}

#subtasksContent {
    height: auto;
    max-height: 130px;
    overflow-y: auto;
}

ul {
    list-style: none;
    padding: 8px 0 8px 8px;
    margin-bottom: 16px;
}

.prio-button {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    /* height: 56px; */
    padding: 8px 24px;
    /* padding: 10px 16px; */
    border-radius: 10px;
    background-color: linear-gradient(180deg,#fff,#f5f5fa);
    /* flex: 1;
    background-color: white; */
    box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
    transition: all .2s ease-out;
}

.prio-button:hover{
    box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%), 0 4px 6px 0 rgb(93 100 148 / 20%);
}

.prio-btn-content {
    display: flex;
    /* justify-content: space-between; */
    gap: 30px;
}

.btn-low-active {
    background-color: #7AE229 !important;
    color: white;
    font-size: 24px;
    font-weight: 400;
    line-height: 25.2px;
}
 
.btn-medium-active {
    background-color: #FFA800 !important;
    color: white;
    font-size: 24px;
    font-weight: 400;
    line-height: 25.2px;
}

.btn-urgent-active {
    background-color: #FF3D00 !important;
    color: white;
    font-size: 24px;
    font-weight: 400;
    line-height: 25.2px;
}
  
#medium {
    display: flex;
    align-items: center;
    gap: 4px;
}

.separator {
    height: 424px;
    width: 1px;
    background-color: #D1D1D1;
    margin-left: 28px;
    margin-right: 28px;
}

.addtask-form-container {
    display: flex;
    justify-content: center;
    /* padding-right: 250px; */
    height: auto;
}

#dropDownCategoryMenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 484px;
    border-radius: 12px 8px 8px 12px;
    max-height: 120px;
    overflow-y: auto;
    gap: 4px;
}
.addtask-bottom-container {
    display: flex;
    justify-content: space-between;
}
.addtask-buttons {
    display: flex;
    gap: 20px;
}

/* Standardmäßig die Symbole ausblenden */
#subtasksContent li button {
    visibility: hidden;
}

/* Symbole anzeigen, wenn der Benutzer über das Listenelement hovert */
#subtasksContent li:hover button {
    visibility: visible;
}


#subtasksContent li:hover {
    background-color: #f0f0f0; 
    border-radius: 8px;
}
