html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    font-family: "Inter", Sans-Serif;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;

}

.contact-popup {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.add-contact {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .2);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    display: none;
}

.add-contact-box {
    display: flex;
    min-width: fit-content;
    height: 592px;
    position: fixed;
    top: 50%;
    right: -1200px; 
    transform: translate(50%, -50%);
    transition: right 0.5s ease; 
    z-index: 500;

}

.add-contact-top-left-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    color: white;
    background-color: rgb(42, 54, 71);
    padding: 66px 48px;
    border-radius: 30px 0px 0px 30px;
    width: 476px;
}

.add-contact-bottom-right-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 72px;
    padding-left: 72px;
    padding-right: 48px;
    background-color: white;
    border-radius: 0px 30px 30px 0px;
    position: relative;
}

.add-contact-logo {
    height: 66.48px;
    width: 53.93px;
}

.add-contact-headline {
    margin: 0;
    font-size: 61px;
    font-weight: 700;
    padding-bottom: 24px;
}

.add-contact-text {
    font-size: 27px;
    font-weight: 400;
}

.add-contact-separator {
    width: 90px;
    border: 3px solid rgb(41, 170, 227);
    border-radius: 3px;
}

h1 {
    font-size: 61px;
    font-weight: 700;
    line-height: 73px;
    letter-spacing: 0em;
    text-align: left;
}

.add-contact-avatar {
    background-image: url(../assets/img/avatar_add_contact.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    height: 42px;
    width: 42px;
    padding: calc(141px - 82px);
    border: 3px solid white;
    border-radius: 50%;
    background-color: rgb(209, 209, 209);
    margin-bottom: 48px;
} 

.add-contact-close {
    position: absolute;
    top: 48px;
    right: 48px;
    height: 32px;
    width: 32px;
    object-fit: contain;
    background-image: url(../assets/img/close.jpg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.add-contact-close:hover {
    content: url('../assets/img/icon_close_hover.png');
}

.add-contact-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.add-imput {
    background-repeat: no-repeat;
    background-position-x: calc(422px - 48px);
    background-position-y: center;
    height: 50px;
    width: calc(452px - 30px);
    border: 1px solid rgb(215, 215, 215);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400px;
    padding-left: 24px;
    outline: none;
}

.add-imput-name {
    background-image: url(../assets/img/person.jpg);
    object-fit: contain;
}
.add-imput-email {
    background-image: url(../assets/img/mail.jpg);
    object-fit: contain;
}
.add-imput-phone {
    background-image: url(../assets/img/call.jpg);
    object-fit: contain;
}

.button-add-container {
    display: flex;
    align-items: center;
    gap: 24px;
    padding-top: 32px;
}

.add-imput:focus {
    border: 2px solid rgb(41, 170, 227);
    
}

.add-imput-phone::-webkit-outer-spin-button,
.add-imput-phone::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.add-imput-phone[type=number] {
    -moz-appearance: textfield;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 400;
}

@media(max-width: 1300px) {
    .add-contact-box {
        flex-direction: column;
    }

    .add-contact-bottom-right-section {
        flex-direction: column;
        border-radius: 0px 0px 30px 30px;
        padding: 0px;
        gap: 0px;

    }

    .add-contact-top-left-section {
        flex-direction: column;
        border-radius: 30px 30px 0px 0px;
    }

    .add-contact-box {
        top: 38%;
    }

    .add-contact-avatar {
        margin: 10px;
    }

    .add-contact-form {
        gap: 18px;
        padding-bottom: 10px;
    }

    .button-add-container {
        justify-content: space-between;
        padding-bottom: 24px;
    }

    .add-contact-close {
        background-image: url(../assets/img/close_white.png);
        top: calc(-352px + 28px);
        right: 20px;
    }
}

@media(max-width: 520px) {

    .add-contact-headline {
        font-size: 47px;
    }

    .add-contact-top-left-section {
        display: flex;
        padding: 130px 20px;
        height: 352px;
        width: 396px;

    }

    .add-contact-bottom-right-section {
        width: 396px;
        padding-top: 100px;
    }

    .add-contact-logo {
        display: none;
    }

    .add-contact-text {
        font-size: 20px;
    }

    .add-contact-close {
        top: calc(-352px + 20px);
        right: 20px;
    }

    .add-contact-avatar {
        position: absolute;
        top: -70px;
    }

    .btn-cancel {
        display: none !important;
    }

    .button-add-container {
        justify-content: center;
        padding-bottom: 54px;
    }

    .add-imput {
        width: 363px;
        height: 40px;
        background-position-x: calc(365px - 48px);
    }

    .btn-create {
        padding: 12px !important;
    }

}

@media(max-width: 420px) {
    .add-contact-bottom-right-section {
        width: 320px;
    }

    .add-contact-top-left-section {
        width: 320px;
    }

    .add-imput {
        width: 300px;
        background-position-x: calc(300px - 48px);
    }
}