body {
    margin: 0;
    font-family: "Inter", Sans-Serif;
}
.outline {
    outline: 1px solid var(--darkLightBlue);
}

.addtask-fullscreen-content {
    position: fixed;
    padding-top: 102px;
    padding-left: 232px;
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #F6F7F8;
    z-index: -1;
}

.addtask-main-content {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    scrollbar-color: gray;
    scrollbar-width: thin;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.addtask-main-content h1 {
    width: 937px;
    font-size: 61px;
}

.addtask-form-left-top {
    display: flex;
    flex-direction: column;
    width: 440px;
    height: auto;
}
.addtask-form-right-bottom {
    flex: 1;
    width: 440px;
}

.field-text-flex {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}
#addTaskDiscriptionField {
    width: auto;
}
#addTaskPopupDiscriptionField {
    width: auto;
}

.input-addtask {
    cursor: pointer;
    font-size: 20px;
    width: auto;
    border-radius: 10px;
    padding: 12px 21px;
    max-height: 48px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    border: 1px solid #D1D1D1;

}
.input-addtask:focus {
    outline: 1px solid var(--darkLightBlue);
    border: 1px solid var(--darkLightBlue);
}

label {
    display: inline-block;
    font-weight: 400;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 8px 0px;
}

textarea {
    cursor: pointer;
    height: 120px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    padding: 18px 16px;
    font-size: 20px;
    font-family: "Inter";
    resize: none;
}
textarea::placeholder {
    font-family: "Inter";
    color: #D1D1D1;
}
textarea:focus {
    outline: 1px solid var(--darkLightBlue);
    border: 1px solid var(--darkLightBlue);
}

input::placeholder {
    color: #D1D1D1;
}

input[type=date] {
    font-family: "Inter";
    font-size: 20px;
    font-weight: 400;
    color:#D1D1D1;
}

#arrowDropMenuCategory {
    height: 5px;
    width: 8px;
    cursor: pointer;
    position: absolute;
    top: 65px;
    right: 20px;
    z-index: 1000;

}

#arrowDropMenuAssigned {
    height: 5px;
    width: 8px;
    cursor: pointer;
    position: absolute;
    top: 65px;
    right: 20px;
    z-index: 1000;
} 

#openUserImge {
    cursor: pointer;
}

#subtasksContent {
    height: auto;
    /* max-height: 130px; */
    overflow-y: auto;
    list-style-type: disc; /* Stellt sicher, dass die Aufzählungspunkte Kreise (discs) sind */
    padding-left: 20px; /* Platz für die Aufzählungspunkte */
    color: black; /* Setzt die Farbe der Aufzählungspunkte auf schwarz */
}

ul {
    list-style: none;
    padding: 8px 0 8px 8px;
    margin-bottom: 16px;
}

.prio-button {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    /* height: 56px; */
    padding: 12px 16px;
    border-radius: 10px;
    flex: 1;
    background-color: linear-gradient(180deg,#fff,#f5f5fa);
    box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
    transition: all .2s ease-out;
}

.prio-button:hover{
    box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%), 0 4px 6px 0 rgb(93 100 148 / 20%);
}

.prio-btn-content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.btn-low-active {
    background-color: #7AE229 !important;
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 25.2px;
}
 
.btn-medium-active {
    background-color: #FFA800 !important;
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 25.2px;
}

.btn-urgent-active {
    background-color: #FF3D00 !important;
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 25.2px;
}
  
#medium {
    display: flex;
    align-items: center;
    gap: 4px;
}

.separator {
    height: 424px;
    width: 1px;
    background-color: #D1D1D1;
    margin-left: 28px;
    margin-right: 28px;
}

.addtask-form-container {
    display: flex;
    justify-content: center;
    /* padding-right: 250px; */
    height: auto;
    margin-bottom: 56px;
}

#addTaskCategory {
    position: relative;
}

#categoryInput {
    z-index: 1001;
}
#addTaskCategory img {
    z-index: 1002;
}
#dropDownCategoryMenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    border-radius: 12px 8px 8px 12px;
    max-height: 170px;
    overflow-y: auto;
    gap: 4px;
    z-index: 1000;
    top: 40px;
    padding-top: 52px;
}
#dropDownCategoryMenu::-webkit-scrollbar {
    display: none;
}
#addTaskAssignedTo {
    position: relative;
}
#dropDownUserMenu {
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    border-radius: 12px 8px 8px 12px;
    max-height: 200px;
    overflow-y: auto;
    gap: 4px;
    top: 40px;
    padding-top: 47px;
}
#dropDownUserMenu::-webkit-scrollbar {
    display: none;
}

#userNameInput {
    z-index: 1000;
}

.initials {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: solid 2px white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-right: 15px;
    font-size: 14px;
}
.rendered-initials-cont {
    position: relative;
    z-index: 0;

}
.rendered-user-initials-img {
    position: absolute;
    right: 10px;
    bottom: -5px;
    height: 20px;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0px 4px 4px 0px #00000040;
}
.rendered-user-initials-img:hover {
    background-color: rgb(233, 232, 232);
}

.addtask-category {
    padding: 4px 0 4px 21px;    
    cursor: pointer;
    border-radius: 10px;
}

.addtask-category:hover {
    background-color: rgb(236, 235, 235);
}

#contentAssignedUsers {
    display: flex;
    padding: 12px 6px;
    flex-wrap: wrap;
    row-gap: 10px;
}

.name-assigned {
    font-size: 20px;
    font-weight: 500;
    color: #000;
}

.contact-assigned {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 12px;
    border-radius: 15px;
    height: 58px;
}

.contact-assigned:hover {
    background-color: rgb(236, 235, 235);
}

.contact-card-click-assigned {
    background-color: rgb(42, 54, 71) !important;
}

.contact-name-assigned {
    color: white !important;
}

.addtask-bottom-container {
    display: flex;
    justify-content: space-between;
}
.addtask-buttons {
    display: flex;
    gap: 20px;
}
.dot {
    height: 5px;
    width: 5px;
    background-color: #000000;
    border-radius: 3px;
    margin-right: 10px;
}

/* Symbole anzeigen, wenn der Benutzer über das Listenelement hovert */
.subtask-icon {
    visibility: hidden; /* Versteckt das Mülleimer-Symbol standardmäßig */
    background: none;
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
    cursor: pointer;
    margin-left: auto; /* Schiebt das Mülleimer-Symbol ganz nach rechts */
}
.subtask-icon img {
    height: 20px;
}


#subtasksContent li:hover .subtask-icon {
    visibility: visible; /* Zeigt das Mülleimer-Symbol bei Hover */
}

#subtaskInput {
    flex: 1;
}

#clearButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 0;
    margin-left: -5px;
}

#clearButton:hover {
    color: #ff0000; /* Optional: Hover-Effekt für das "Kreuz"-Symbol */
}

.subtask-input-wrapper {
    position: relative;
    /* display: flex;
    align-items: center; */
}

.subtask-input-wrapper input {
    width: 100%;
    box-sizing: border-box;
    padding-right: 50px; /* Platz für die Symbole */
}

.input-icons {
    position: absolute;
    top: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
    /* cursor: pointer;
    padding: 5px;
    border-radius: 10px; */
}

.input-icons img {
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
}

.input-icons img:hover {
    background-color: rgba(211, 211, 211, 0.479);
}

.input-icons-edit {
    display: flex;
    align-items: center;
    gap: 5px;
}

.validSpanTitle {
  color: rgb(255, 0, 0);
  margin-left: 10px;
  margin-top: 5px;
  font-size: 14px;
}

.validSpanDate {
  color: rgb(255, 0, 0);
  margin-top: 5px;
  margin-left: 10px;
  font-size: 14px;
}

.validSpanCategory {
  color: rgb(255, 0, 0);
  margin-top: 5px;
  margin-left: 10px;
  font-size: 14px;
}

#clear-add-icons {
    position: relative;
    top: 0;
    right: 0;
    display: flex;
    gap: 5px;
}

.input-icons button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 0;
}

.input-icons button:hover {
    color: #ff0000; /* Optional: Hover-Effekt für die Symbole */
}

.input-icons {
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center; 
    gap: 10px;
}

.divider {
    width: 1px;
    height: 20px; 
    background-color: #D1D1D1;
}

#subtasksContent {
    /* display: list-item; */
    /* list-style-position: inside; */
    margin-top: 5px;
    padding: 0;
    padding-left: 0;
    /* list-style-type: disc; /* Setzt das Listensymbol auf einen Punkt */
    /* padding-left: 20px; Platz für das Symbol schaffen */
}

#subtasksContent::-webkit-scrollbar {
    display: none;
}


.subtask-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    padding: 4px 10px 4px 15px;
    border-radius: 10px;
    background-color: #f8f8f8;
    cursor: pointer;
    list-style-position: inside;
    color: #000000;
    /* height: 40px; Gleiche Höhe wie das Bearbeitungs-Input-Feld */
}
.subtask-item:hover {
    background-color: #f0f0f0; 
    border-radius: 8px;
}
.subtask-item-on-focus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    padding: 4px 10px 4px 15px;
    cursor: pointer;
    /* list-style-position: inside; */
    color: #000000;
    background-color: white;
    border-bottom: solid 1px var(--darkLightBlue);
}

#subtasksContent li::marker {
    font-size: 14px; 
    color: #000000;
}

.subtask-text {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.subtask-icon {
    margin-left: auto;
}

/* .subtask-item:hover .subtask-icon button {
    visibility: visible; 
} */


/* Styling für das Bearbeitungs-Input-Feld */
.edit-subtask-input {
    flex: 1;
    padding-right: 50px; /* Platz für die Symbole */
    height: 100%;
    border: none;
    padding: 0 10px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: white; 
    outline: none; 
}


.divider {
    width: 1px;
    height: 20px;
    background-color: #D1D1D1;
}

/* Wrapper für das Bearbeitungs-Input-Feld, wenn es im Bearbeitungsmodus ist */
.subtask-input-wrapper.edit-mode {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    height: 22px; 
    background-color: rgb(255, 255, 255); 
    /* border-radius: 8px; */
}

.divider {
    width: 1px;
    height: 20px;
    background-color: #D1D1D1;
}



@media(max-width: 1230px) {
    .addtask-form-container {
        flex-direction: column;
        margin-bottom: 32px;
    }
    .addtask-main-content h1 {
        width: 440px;
    }
    .separator {
        display: none;
    }
    .addtask-bottom-container {
        flex-direction: column;
        gap: 32px;
    }
    .addtask-buttons {
        justify-content: flex-end;
    }
}
@media(max-width: 830px) {
    .addtask-fullscreen-content {
        padding-left: 0;
        padding-bottom: 90px;
    }
    .addtask-main-content {
        padding-top: 0;
    }
    .addtask-main-content h1 {
        font-size: 47px;
    }
    .addtask-form-left-top {
        font-size: 16px;
    }
    .addtask-form-right-bottom {
        font-size: 16px;
    }
    .subtask-icon {
        visibility: visible;
    }
    
}
@media(max-width: 500px) {
    .addtask-form-left-top {
        width: 280px;
        padding: 0 13px;
    }
    .addtask-form-right-bottom {
        width: 280px;
        padding: 0 13px;
    }
    .addtask-main-content h1 {
        width: 280px;
    }
    .prio-btn-content {
        flex-direction: column;
    }
    #medium {
        justify-content: center;
    }
    .addtask-buttons {
        flex-direction: column-reverse;
        align-items: flex-end;
    }
    .addtask-bottom-container {
        padding: 0 13px;
    }
}

.task-success {
    position: absolute;
    bottom: 128px;
    width: 326px;
    background-color: var(--darkGray);
    color: white;
    font-size: 20px;
    box-shadow: 0px 0px 4px 0px #00000026;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 18px;
    left: 100%;
    right: 0;
    transition: .5s ease;
}
