.main-cont {
    position: fixed;
    padding-top: 102px;
    padding-left: 232px;
    display: flex;
    width: 100%;
    height: 100%
}

/* styling contact list */

.contactDiv {
    width: 440px;
    /* height: 100%; */
    position: relative;
    box-shadow: 4px 0px 6px 0px #00000014;
    background-color: #ffffff;
    overflow-y: scroll;
    scrollbar-color: gray;
    scrollbar-width: thin;
    box-sizing: border-box;
    font-family: "Inter";
    opacity: 1;
}
#contact-list {
    padding: 0 40px;
}
.btn-section {
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: sticky;
    top: 0;
}
.btn-cont {
    padding: 30px 40px;
}
.contactDiv::-webkit-scrollbar-thumb {   
    background: black;
}

.contact-group {
    margin-bottom: 20px;
}

.contact-group h3 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
}

.contact {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
    padding: 0 20px;
    border-radius: 15px;
}
.contact:hover {
    background-color: rgb(236, 235, 235);
}

.initials {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: solid 2px white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-right: 15px;
    margin-right: 32px;
    font-size: 14px;
}

.contact-info {
    flex: 1;
}

.name {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #000;
}

.email {
    font-size: 16px;
    font-weight: 400;
    color: #007CEE;
    margin-top: 0;
    text-decoration: none;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

.contact-list-letter {
    margin-left: 30px;
    width: 22px;
    display: flex;
    justify-content: center;
}
.contact-list-letter h3 {
    font-size: 20px;
}

/* styling contact details */

.contact-details {
    position: relative;
    padding-top: 120px;
    padding-left: 64px;
    background-color: #F6F7F8;
    flex: 1;
}
.contact-details-head {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
}
.contact-details-head h1 {
    font-size: 56px;
    padding-right: 30px;
    margin: 0;
    border-right: solid 3px var(--darkLightBlue);
}
.contact-details-head span {
    font-size: 28px;
}
#render-contact-details {
    position: absolute;
    padding-left: 64px;
    left: 100%;
    right: 0;
    overflow: hidden;
    width: 0;
    transition: .5s ease;
}
.render-details-head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}
.profile-name {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 10px;
}
.profile-initials {
    background-color: var(--orange);
    color: #ffffff;
    border: solid 3px white;
    height: 120px;
    width: 120px;
    font-size: 48px;
    font-weight: 400;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.edit-delete-cont {
    display: flex;
    gap: 20px;
}
.edit-delete-child {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.edit-delete-child:hover > svg *,
.edit-delete-child:hover {
    color: var(--darkLightBlue);
    fill: var(--darkLightBlue);
}
.contact-info-headline  {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 45px;
}
.single-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}
.single-info a {
    text-decoration: none;
    color: #007CEE;
}
.blue {
    color: #007CEE;
}
.contact-success {
    height: 74px;
    width: 326px;
    background-color: var(--darkGray);
    color: white;
}

/* contact details mobile styling */

#contact-details-mobile {
    position: relative;
    padding-top: 0;
    padding-left: 112px;
    background-color: #F6F7F8;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    /* flex: 1; */
}
.contact-details-head-mobile {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 48px;
}
.contact-details-head-mobile h1 {
    font-size: 48px;
    margin-bottom: 0;
}
.contact-details-head-mobile span {
    font-size: 20px;
}
.details-head-line {
    height: 3px;
    width: 72px;
    background-color: var(--darkLightBlue);
    border-radius: 3px;
    margin-top: 12px;
}
.back-arrow {
    position: absolute;
    top: 42px;
    right: 24px;
    cursor: pointer;
}
.back-arrow:focus {
    background-color: lightgray;
    border-radius: 15px;
}
.render-details-head-mobile {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 24px;
}
.profile-name-mobile {
    font-size: 40px;
    font-weight: 600;
}
.profile-initials-mobile {
    background-color: var(--orange);
    color: #ffffff;
    border: solid 3px white;
    height: 80px;
    width: 80px;
    font-size: 34px;
    font-weight: 400;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-info-headline-mobile {
    font-size: 20px;
    margin-bottom: 24px;
}
.details-mobile-round-btn {
    position: absolute;
    right: 32px;
    bottom: 42px;
    height: 56px;
    width: 56px;
    background-color: var(--darkGray);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 28px;
    box-shadow: 0px 4px 4px 0px #00000040;
    cursor: pointer;
}
#details-mobile-kebab-btn {
    z-index: 99
}
#details-mobile-add-btn {
    z-index: 98;

    bottom: 142px;
}
#mobile-edit-menu {
    position: absolute;
    right: 0;
    bottom: 20px;
    height: 100px;
    width: 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 20px 20px 0 20px;
    cursor: pointer;
    padding-left: 12px;
    overflow: hidden;
    transition: .5s ease;
}

.contact-card-click {
    background-color: rgb(42, 54, 71) !important;
}

.contact-name {
    color: white !important;
}