body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", Sans-Serif;
    height: 100vh;
    background-color: #F6F7F8;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 61px;
}

.blue-line {
    width: 150px;
    border: 4px solid #29abe2;
    margin-top: -50px;
    border-radius: 10px;
}

.background-logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    opacity: 1;
    animation: background-switch 1s ease forwards;
    animation-delay: 0.5s;
    z-index: 100;
}

.logo-first-page {
    height: 344px;
    width: auto;
    animation: top-left-glide 1s ease forwards;
    animation-delay: 0.5s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;    
}

.sign-up-link {
    text-decoration: none;
    color: var(--darkLightBlue);
}

#blueArrowSingup {
    position: relative;
    right: 100px;
    top: 20px;
}
.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
}

.sign-up-card {
    box-shadow: 0px 0 14px 3px rgba(0, 0, 0, 0.16);
    border-radius: 30px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 48px 115px;
    gap: 32px;
}

.sign-up-arrow {
    display: flex;
}

@keyframes top-left-glide {
    from {
        top: 50%;
        left: 50%;
        height: 200px;
        width: 244px;
    }

    to {
        top: 10%;
        left: 10%;
        fill: #2A3647;
        width: 100px;
        height: 122px;
    }
}

@keyframes background-switch {
    from {
        opacity: 1;
        z-index: 10;
    }

    to {
        opacity: 0;
        z-index: -1;
    }
}

.sign-up-box-container {
    position: absolute;
    top: 60px;
    width: 98%;
    display: flex;
    justify-content: flex-end;

}

.sign-up-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.login-card {
    box-shadow: 0px 0 14px 3px rgba(0, 0, 0, 0.16);
    border-radius: 30px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 48px 115px;
    gap: 32px;
}

.login-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    padding: 20px 0 40px 0;
    gap: 16px;
}
.login-footer a {
    text-decoration: none;
    color: #A8A8A8;
}
.login-footer a:hover {
    color: var(--darkLightBlue);
    font-weight: 500;
}

.save-forgot-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hidden-continer {
    color: #ff0000;
    font-size: 12px;
    display: none;

}

#forgotPassword {
    color: #29ABE2;
    cursor: pointer;
}

#loginFrom {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-container {
    display: flex;
    align-items: center;
    padding: 12px 21px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    width: 380px;
}

.input-container input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 20px;
}

.remember-me {
    display: flex;
    gap: 10px;
}

.sign-up-me {
    display: flex;
    gap: 10px;
    align-items: center;
}

.btn-login-flex {
    display: flex;
    justify-content: space-around;
}

.validSpanField {
    color: red;
    margin-left: 10px;
    transition: 2s;
}
    
.loginError {
    color: red;
    font-size: 12px;
    margin-left: 10px;
    margin-top: -15px;
}

.signUpError {
  font-size: 12px;
  color: #ff0000;
  margin: 0px;
  margin-top: -15px;
}

.signUpPrivacyError {
  font-size: 12px;
  color: #ff0000;
  margin: 0px;
  margin-top: -35px;
}

.userCreatedSuccess {
  position: absolute;
  bottom: 128px;
  width: 326px;
  background-color: var(--darkGray);
  color: white;
  font-size: 20px;
  box-shadow: 0px 0px 4px 0px #00000026;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 18px;
  left: 100%;
  right: 0;
  transition: .5s ease;
}

@media(max-width: 720px) {
    .login-card {
        padding: 48px 48px;
    }

    .login-card h1 {
        font-size: 47px;
    }

    .sign-up-card {
        padding: 24px 48px;
    }

    .sign-up-card h1 {
        font-size: 47px; 
    }

    .logo-first-page {
        transform: translate(-30%, -50%);
        width: 64px !important;
        height: 78px !important;
    }

    .sign-up-box-container {
        width: 90%;
    }

    .logo-first-page {
        left: 40%;
    }
}

@media(max-width: 550px) {
    .login-card {
        box-shadow: none;
        padding-left: 0;
        padding-right: 0;
    }

    .login-footer {
        padding-left: 0;
        padding-right: 0;
    }

    .sign-up-card {
        box-shadow: none;
        padding: 0;

    }

    body {
        background-color: #ffffff;
    }

    #blueArrowSingup {
        right: 30px;
    }
}

@media(max-width: 450px) {
    .sign-up-box-container {
        position: static;
        /* bottom: 120px;
        top: auto; */
        /* justify-content: center; */
    }

    body {
        background-color: #ffffff;
    }

    .btn-login-flex {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        gap: 12px;
    }

    #loginFrom {
        align-items: center;
    }

    .save-forgot-container {
  
        flex-direction: column;
    }

    .logo-first-page {
        transform: translate(-10%, -50%);
    }

    .input-container {
        width: 260px;
    }

    .logo-first-page {
        height: 250px;
        width: auto;
        top: 45%;
        left: 25%;
    }
    .signUpError {
        margin-left: -150px;
    }
    .loginError {
        margin-left: -150px;
    }
}
@media(max-width: 414px) {
    .login-card {
        height: 100%;
        justify-content: flex-start;
        /* overflow: auto; */
        padding: 80px 0 0 0px;
        box-sizing: border-box;
        gap: 25px;
    }
    #loginFrom {
        gap: 10px;
    }
    .blue-line {
        border: 2px solid #29abe2;
    }
    .loginError {
        margin-top: -10px;
    }
    .sign-up-card {
        height: 100%;
        padding: 50px 0 0 0;
        box-sizing: border-box;
    }
    .signUpError {
        margin-top: -10px;
    }
    .sign-up-btn {
        margin-top: 20px;
    }
    .signUpPrivacyError {
        margin-top: -5px;
    }
    .login-footer {
        position: static;
    }
}