body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}
.click-board {
    background-color: var(--darkBlue);
}
.click-board:hover {
    background-color: var(--darkBlue);
}
.click-board-mobile {
    background-color: var(--darkBlue);
    border-radius: 16px;
}

/* board styling */

.main-cont {
    position: fixed;
    padding-top: 102px;
    padding-left: 232px;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: -1;
}

.board {
    padding: 64px 64px 0 64px;
    width: 74%;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.header h1 {
    font-size: 61px;
}

.search-add-container {
    display: flex;
    align-items: center;
    gap: 32px;
}

.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: white;
    height: 35px;
    width: 300px;
}

.search-container input {
    border: none;
    outline: none;
    margin-right: 5px;
    flex-grow: 1;
    height: 24px;
}

input::placeholder {
    font-size: 20px;
    color: #D1D1D1;
}

.search-container .separator {
    width: 1px;
    height: 20px;
    background-color: #ccc;
    margin-right: 5px;
}

.search-container button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.search-icon {
    width: 24px;
    height: 24px;
}

.add-task {
    background-color: #343a40;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
}

.add-task .icon {
    margin-left: 5px;
    width: 8px;
    height: 8px;
}

.column-container {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    height: 100%;
}
.board-category {
    flex: 1;
}
.cat-placeholder {
    background-color: #E7E7E7;
    color: #A8A8A8;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #A8A8A8;
    border-style: dotted;
    box-shadow: 0px 0px 4px 0px #00000029;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center
}
.column {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1em;
    font-weight: bold;
    flex: 1;
    margin-bottom: 15px;
}

.column span {
    margin-right: 30px; /* Adds space between text and icon */
}

.column .icon {
    width: 24px;
    cursor: pointer;
}

.icon:hover {
    filter: invert(41%) sepia(91%) saturate(3000%) hue-rotate(175deg) brightness(95%) contrast(102%);
    /* transition: filter 0.3s ease-in-out; */
}

.fontSize-span{
    font-size: 20px;
    color: #42526E;
    font-weight: bold;
}


/* task styling */

.task {
    background-color: white;
    width: auto;
    height: auto;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    cursor: pointer;
}
.task:active {
    transform: rotate(8deg);

}
.category-cont {
    height: 100%;
}
.task-category {
    font-size: 16px;
    width: 60%;
    padding: 8px;
    background-color: #0038FF;
    color: white;
    margin-bottom: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.technical-task {
    font-size: 16px;
    width: 50%;
    padding: 8px;
    background-color: #1FD7C1;
    color: white;
    margin-bottom: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#task-title {
    font-size: 16px;
    font-weight: 600;
    word-wrap: break-word;
    margin-bottom: 12px;
}
#task-description {
    font-size: 16px;
    color: lightgray;
    word-wrap: break-word;
    margin-bottom: 30px;
}
.subtasks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}
#subtask-counter {
    font-size: 14px;
}
#subtask-progress {
    height: 14px;
    width: 100%;
    background-color: #e2e2e2;
    border-radius: 15px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
#progress-bar {
    height: 14px;
    /* width : 10%; */
    background-color: #4589FF;
    border-radius: 15px;
}

.test-initials {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: orange;
    border: solid 2px white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    /* margin-right: 15px;
    margin-right: 32px; */
    font-size: 16px;
    margin-left: -12px;
}
.bg-green {
    background-color: rgb(0, 124, 128);
}
.bg-violet {
    background-color: rgb(66, 42, 199);
}
.assigned-prio-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#assigned-initials {
    display: flex;
    margin-left: 12px;

}
.prio-icons  {
    height: 24px;
    width: 24px;
}