.main-cont {
    position: fixed;
    top: 102px;
    left: 232px;
    display: flex;
}

/* styling contact list */

.contactDiv {
    width: 456px;
    height: 841px;
    position: relative;
    box-shadow: 4px 0px 6px 0px #00000014;
    background-color: #ffffff;
    overflow-y: scroll;
    scrollbar-color: gray;
    scrollbar-width: thin;
    box-sizing: border-box;
    font-family: "Inter";
    opacity: 1;
}
#contact-list {
    padding: 0 40px;
}
.btn-section {
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: sticky;
    top: 0;
}
.btn-cont {
    padding: 30px 40px;
}
.contactDiv::-webkit-scrollbar-thumb {   
    background: black;
}

.contact-group {
    margin-bottom: 20px;
}

.contact-group h3 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
}

.contact {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
}

.initials {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    margin-right: 15px;
    font-size: 1.1em;
}

.contact-info {
    flex: 1;
}

.contact-info .name span {
    font-size: 1em;
    font-weight: bold;
    color: #000;
}

.contact-info .email a {
    font-size: 0.9em;
    color: #555;
    text-decoration: none;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

/* styling contact details */

.contact-details {
    margin-top: 120px;
    margin-left: 64px;
}
.contact-details-head {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
}
.contact-details-head h1 {
    font-size: 56px;
    padding-right: 30px;
    margin: 0;
    border-right: solid 3px var(--darkLightBlue);
}
.contact-details-head span {
    font-size: 28px;
}
.render-details-head {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}
.profile-name {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 10px;
}
.profile-initials {
    background-color: var(--orange);
    color: #ffffff;
    height: 120px;
    width: 120px;
    font-size: 48px;
    font-weight: 400;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.edit-delete-cont {
    display: flex;
    gap: 20px;
}
.edit-delete-child {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.edit-delete-child:hover > svg *,
.edit-delete-child:hover {
    color: var(--darkLightBlue);
    fill: var(--darkLightBlue);
}
.contact-info-headline  {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 45px;
}
.single-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}
.blue {
    color: #007CEE;
}