body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}
.click-board {
    background-color: var(--darkBlue);
}
.click-board:hover {
    background-color: var(--darkBlue);
}
.click-board-mobile {
    background-color: var(--darkBlue);
    border-radius: 16px;
}

/* board styling */

.main-cont {
    position: fixed;
    padding-top: 102px;
    padding-left: 232px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: -1;
}

.board {
    width: 100%;
    height: 100%;
    scrollbar-color: gray;
    scrollbar-width: thin;
    overflow-y: scroll;
    padding: 64px 64px 0 64px;
    box-sizing: border-box;
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 61px;
}

.search-add-container {
    display: flex;
    align-items: center;
    gap: 32px;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    /* border: 1px solid #A8A8A8;
    border-radius: 10px;
    padding: 5px 10px; */
    padding-right: 46px;
    height: 48px;
    width: 360px;
}
.search-container input:focus {
    outline: 1px solid var(--darkLightBlue);
    border: 1px solid var(--darkLightBlue);
}

.search-container img {
    position: absolute;
    right: 13px;
    cursor: pointer;
}
.search-container img:hover {
    background-color: #e7e6e6;
    border-radius: 20px;
}

.search-container input {
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    padding: 8px 66px 8px 16px;
    background-color: white;
    height: 48px;
    

    /* border: none;
    outline: none;
    margin-right: 5px;
    flex-grow: 1;
    height: auto; */
}
.search-container input[type=text] {
    font-size: 20px
}

input::placeholder {
    font-size: 20px;
    color: #D1D1D1;
}

.search-separator {
    position: absolute;
    right: 55px;
    width: 1px;
    height: 20px;
    background-color: #ccc;
    margin-right: 5px;
}

.search-container button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.search-icon {
    width: 24px;
    height: 24px;
}

.add-task {
    background-color: #343a40;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
}

.add-task .icon {
    margin-left: 5px;
    width: 8px;
    height: 8px;
}

.column-container {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    height: 100%;
}
.board-category {
    flex: 1;
}
.cat-placeholder {
    background-color: #E7E7E7;
    color: #A8A8A8;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #A8A8A8;
    border-style: dotted;
    box-shadow: 0px 0px 4px 0px #00000029;
    padding: 20px;
    height: 16px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.column {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    flex: 1;
    margin-bottom: 15px;
}

.column span {
    margin-right: 30px; /* Adds space between text and icon */
}

.column .icon {
    width: 24px;
    cursor: pointer;
}

.icon:hover {
    filter: invert(41%) sepia(91%) saturate(3000%) hue-rotate(175deg) brightness(95%) contrast(102%);
    /* transition: filter 0.3s ease-in-out; */
}

.fontSize-span{
    font-size: 20px;
    color: #42526E;
    font-weight: bold;
}


/* task styling */

.task {
    position: relative;
    background-color: white;
    min-width: 240px;
    max-width: 240px;
    height: auto;
    padding: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15px;
    cursor: pointer;
    color: #2A3647;
}
.task-head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.task-head img {
    height: 28px;
    cursor: pointer;
    z-index: 99;
    background-color: #ffffff;
    border-radius: 16px;
}
.task-head img:hover {
    background-color: rgb(241, 241, 241);
}
.task-upper-part {
    display: flex;
    flex-direction: column;
}
.kebab-dropdown {
    position: absolute;
    top: 10px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    background-color: rgb(236, 234, 234);
    color: var(--darkGray);
    font-weight: 600;
    padding: 50px 20px 20px 20px;
    border-radius: 12px 0 0 12px;
    box-shadow: 0px 0px 4px 0px #00000029;
}
.kebab-dropdown p {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 300;
}
.kebab-dropdown span:hover {
    color: var(--darkLightBlue);
}
.category-cont {
    height: 100%;
    border-radius: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}
.highlight-category-cont {
    background-color: #ececec;
    padding: 10px;
}
.task-category {
    font-size: 16px;
    min-width: 140px;
    padding: 8px;
    background-color: #0038FF;
    color: white;
    margin-bottom: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.technical-task {
    font-size: 16px;
    width: 50%;
    padding: 8px;
    background-color: #1FD7C1;
    color: white;
    margin-bottom: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#task-title {
    font-size: 16px;
    font-weight: 700;
    word-wrap: break-word;
    margin-bottom: 12px;
}
.task-description {
    font-size: 16px;
    color: lightgray;
    word-wrap: break-word;
    margin-bottom: 20px;
}
.subtasks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}
#subtask-counter {
    font-size: 14px;
}
#subtask-progress {
    height: 14px;
    width: 100%;
    background-color: #e2e2e2;
    border-radius: 15px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
#progress-bar {
    height: 14px;
    background-color: #4589FF;
    border-radius: 15px;
}

.test-initials {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: orange;
    border: solid 2px white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 14px;
    margin-left: -11px;
}
.bg-green {
    background-color: rgb(0, 124, 128);
}
.bg-violet {
    background-color: rgb(66, 42, 199);
}
.assigned-prio-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}
.initials-small-task {
    display: flex;
}
#assigned-initials {
    display: flex;
    margin-left: 12px;

}
.prio-icons  {
    height: 24px;
    width: 24px;
}
.prio-cont img {
    margin-left: 8px;
}
.btn-add-task-mobile {
    background-color: var(--darkGray);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-add-task-mobile img {
    height: 35px;
    width: 35px;
}

/* task detail popup styling */

#task-details-overlay {
    background-color: rgba(0,0,0,0.2);
    z-index: 999;
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#task-details-Popup {
    height: auto;
    width: 500px;
    /* left: 100%; */
    background-color: white;
    border-radius: 28px;
    padding: 32px 24px;
    scrollbar-color: gray;
    scrollbar-width: thin;    
    overflow: auto;
    transition: .5s ease;
}
.task-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.task-details-main-part {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}
.task-category-detail {
    font-size: 16px;
    max-width: 150px;
    padding: 8px 16px;
    background-color: #0038FF;
    color: white;
    /* margin-bottom: 30px; */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.task-details-title {
    font-size: 56px;
    font-weight: 700;
}
#assigned-contacts {
    margin-left: 20px;
}
.assigned-single-contact {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
#subtasks-details {
    margin-left: 20px;
}
.subtask-cont {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 12px;
    padding: 5px 10px;
    border-radius: 10px;
}
.subtask-cont:hover {
    background-color: #eeeeee;
}
.subtask-cont-img {
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.subtask-cont:hover .subtask-cont-img {
    background-color: #bbbbbb;
    border-radius: 10px;
}
.task-subtitles {
    color: #42526E;
}
.task-details-date-style {
    display: flex;
    width: 180px;
    justify-content: space-between;
}
.task-details-prio-style {
    display: flex;
    width: 180px;
    gap: 30px;
}
.delete-edit-cont {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.delete-edit-single {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.delete-edit-single:hover > svg *,
.delete-edit-single:hover {
    color: var(--darkLightBlue);
    fill: var(--darkLightBlue);
}
.separator-line {
    height: 20px;
    width: 2px;
    background-color: lightgray;
}
.ok-button {
    justify-content: flex-end;
}

.task-details-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* scrollbar-color: gray;
    scrollbar-width: thin; */
    overflow-y: auto;
    width: 100%;
    height: 80vh;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.task-details-edit::-webkit-scrollbar {
    display: none;
}
.edit-cancel-cont {
    display: flex;
    justify-content: flex-end;
}
.edit-cancel {
    height: 28px;
    width: 28px;
    cursor: pointer;
    z-index: 99;
    background-color: #ffffff;
    border-radius: 16px;
}
.edit-cancel:hover {
    background-color: rgb(241, 241, 241);
}




@media(max-width: 1340px) {
    .board {
        padding-left: 48px;
        padding-right: 48px;
    }
}
@media(max-width: 1312px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }
    .search-add-container {
        width: 100%;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .column-container {
        flex-direction: column;
    }
    .task {
        width: 200px;
        margin-bottom: 0;
    }
    .category-cont {
        flex-direction: row;
        align-items: flex-start;
        padding-left: 0;
        scrollbar-color: gray;
        scrollbar-width: thin;    
        height: auto;
        overflow: auto;
        white-space: nowrap;
    } 
    .task {
        margin-left: 15px;
        white-space: normal;
    }  
    #done {
        padding-bottom: 50px;
    } 
}
@media(max-width: 950px) {
    .board {
        padding-left: 40px;
        padding-right: 40px;
    }
    .search-container {
        flex: 1;
        width: 100%;
        box-sizing: border-box;
        padding: 0;
    }
    #search-input {
        flex: 1;
        width: 100%;
        box-sizing: border-box;
    }
}
@media(min-width: 830px) {
    .btn-add-task-mobile {
        display: none;
    }
}
@media(max-width: 830px) {
    .btn-add-task {
        display: none !important;
    }
    .btn-add-task-mobile {
        position: absolute;
        right: 0;
        top: 7px;
    }
    .header h1 {
        margin-top: 0;
        font-size: 47px;
    }
    .fontSize-span {
        font-size: 27px;
        color: #2A3647;
    }
    .column .icon {
        width: 30px;
    }
    #task-details-Popup {
        height: auto;
        width: 70%;
    }
    .task-details-title {
        font-size: 32px;
    }
    .task-category-detail {
        flex: 1;

    }
        
}
@media(max-width: 600px) {
    .search-container {
        width: 100%;
    }
}
@media(max-width: 500px) {
    .board {
        padding: 40px 20px 0 20px;
    }
    #task-details-Popup {
        border-radius: 0;
        height: 100%;
        width: 100%;
    }

}