<header>
    <span>Kanban Project Management Tool</span>
    <div class="header-icons">
        <a href="help.html"><img src="../assets/img/Property 1=Default.svg" class="help-icon" alt="help"></a>
        <div onclick="openDropdown()" id="profile-initials-header" alt="profile initials">SM</div>
        <div id="dropdown" class="d-none">
                <a href="legal_notice.html">Legal Notice</a>
                <a href="privacy_policy.html">Privacy Policy</a>
                <a href="index.html">Log out</a>
        </div>
    </div>
</header>
<nav>
    <img src="../assets/img/Capa 1.svg" alt="join logo">
    <menu>
        <a href="../summary.html"><img src="../assets/img/summary.svg" alt="summary">Summary</a>
        <a href="../add_task.html"><img src="../assets/img/add_task.svg" alt="board">Add Task</a>
        <a href="../board.html"><img src="../assets/img/board.svg" alt="board">Board</a>
        <a href="../contact_list.html"><img src="../assets/img/contacts.svg" alt="contacts">Contacts</a>
    </menu>
        <div class="footer-sidebar">
            <a href="privacy_policy.html">Privacy Policy</a>
            <a href="legal_notice.html">Legal notice</a>
        </div>
</nav>    
