<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join</title>
    <link rel="stylesheet" href="/css/templates.css">
    <script src="/js/template.js"></script>
</head>
<body> -->
    <header>
        <span>Kanban Project Management Tool</span>
        <div class="header-icons">
            <img src="/img/Property 1=Default.svg" class="help-icon" alt="help">
            <div id="profile-initials" alt="profile initials">SM</div>
        </div>
    </header>
    <nav>
        <img src="/img/Capa 1.svg" alt="join logo">
        <menu>
        <a href="summary.html"><img src="/img/summary.svg" alt="summary">Summary</a>
        <a href="add_task.html"><img src="/img/add_task.svg" alt="board">Add Task</a>
        <a href="board.html"><img src="/img/board.svg" alt="board">Board</a>
        <a href="contacts.html"><img src="/img/contacts.svg" alt="contacts">Contacts</a>
        </menu>
        <div class="footer-sidebar">
            <a href="privacy_policy.html">Privacy Policy</a>
            <a href="legal_notice.html">Legal notice</a>
        </div>
    </nav>    
<!-- </body>
</html> -->