<header>
    <img class="header-logo" src="../assets/img/favicon.png" alt="join logo">
    <span>Kanban Project Management Tool</span>
    <div class="header-icons">
        <a href="../html/help.html"><img src="../assets/img/Property 1=Default.svg" class="help-icon" alt="help"></a>
        <div onclick="openDropdown()" id="profile-initials-header" alt="profile initials">SM</div>
        <div id="dropdown" class="d-none">
                <a class="dropdown-help" href="../html/help.html">Help</a>
                <a href="../html/legal_notice.html">Legal Notice</a>
                <a href="../html/privacy_policy.html">Privacy Policy</a>
                <a href="../html/index.html">Log out</a>
        </div>
    </div>
</header>
<nav class="sidebar">
    <div class="sidebar-main">
        <img src="../assets/img/Capa 1.svg" alt="join logo">
        <menu>
            <a href="../html/summary.html"><img src="../assets/img/summary.svg">Summary</a>
            <a href="../html/add_task.html"><img src="../assets/img/add_task.svg">Add Task</a>
            <a class="board-icon" href="../html/board.html"><img src="../assets/img/board.svg" alt="board">Board</a>
            <a href="../html/contact_list.html"><img src="../assets/img/contacts.svg" alt="contacts">Contacts</a>
        </menu>
    </div>
    <div class="footer-sidebar">
        <a href="../html/privacy_policy.html">Privacy Policy</a>
        <a href="../html/legal_notice.html">Legal notice</a>
    </div>
</nav> 

<div class="sidebar-mobile">
    <a href="../html/summary.html"><img src="../assets/img/summary.svg" alt="summary">Summary</a>
    <a href="../html/add_task.html"><img src="../assets/img/add_task.svg" alt="board">Add Task</a>
    <a href="../html/board.html"><img src="../assets/img/board.svg" alt="board">Board</a>
    <a href="../html/contact_list.html"><img src="../assets/img/contacts.svg" alt="contacts">Contacts</a>
</nav>